<h1>New.erb View</h1>
<form method="POST" action="/articles">
    <p><label for="title">Title: </label>
    <input name="title" id="title"></p>
    <p><label for="content">Content: </label>
    <input name="content" id="content"></p>
    <input type="submit" id="submit">
</form>